/* General styles */
/* body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
} */

/* Main body styles */
/* body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Background blur setup using ::before */
body, html{
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTUY2VC0R-Sd_fzyQWXS1QhhTUhDSjpjxBfA&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);/* Blur effect*/
    z-index: -1; /* Background layer behind content */
}

header {
    background-color: rgb(116, 48, 48);
    color: white;
    padding: 20px;
    text-align: center;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    transition: background-color 0.3s;
}

.product img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
} 

/* Dark mode styles */
body.dark-mode {
    background-color: black;
    color: white;
}

.product.dark-mode {
    background-color: #333;
    border-color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .product {
        width: 90%; /* Full width on smaller screens */
    }

    header {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Smaller heading on mobile */
    }

    h2 {
        font-size: 20px; /* Smaller subheading on mobile */
    }

    
} 


@media (max-width: 600px) {
    footer {
        padding: 15px;
        height: auto; /* Reduce padding on smaller screens */
    }

    h2 {
        font-size: 6vw; /* Increase font size for small screens */
    }

    p {
        font-size: 4vw; /* Increase font size for small screens */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    h2 {
        font-size: 15vw; /* Adjust font size for medium screens */
        font-weight: bold;
    }

    p {
        font-size: 13.5vw; /* Adjust font size for medium screens */
        font-weight: bold;
    }
}
